@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #06bcef;
$red: #990033;
$pink: #ff8080;
$pink-invert: #fff;
$green: #669933;
$family-sans-serif: "Oswald", "Helvetica", "Arial", sans-serif;
$is-family-secondary: "Arial", sans-serif;
$fa-font-path: "../webfonts";
$navbar-item-padding: 35px;
$picon-size: 5em;

$primary: $green;
$secondary: $red;
$link: $green;
$button-background-color: $green;
$button-color: $white;
$scheme-invert: $black;
$primary-invert: $black;
$modal-card-title-color: $white;
$navbar-background-color: black;
$navbar-item-hover-background-color: $green;

$box-background-color: black;

$portfolio: $red;
$box-color: white;
$box-radius: 1px;
$table-cell-border: 1px solid;
$table-border-color: white;
$table-color: black;
$table-heading-color: white;
$table-background-color: transparent;
$page-header: 'Oswald', sans-serif;
$s-static: 'Oswald', sans-serif;
$home-title: "Arial", sans-serif;
$card-background-color: black;
$button-hover-color: $white;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
