@charset "utf-8";

// Customization


// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the colors, used for links
$blue: #06bcef;
$red: #990033;
$pink: #ff8080;
$pink-invert: #fff;
$green: #669933;
// Update the sans-serif font family
$family-sans-serif: "Oswald", "Helvetica", "Arial", sans-serif;
$is-family-secondary: "Arial", sans-serif;


//Measurements

$navbar-item-padding: 35px;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $green;
$secondary: $red;
$link: $green;
$button-background-color: $green;
$button-color: $white;

$primary-invert: $pink-invert;
$navbar-item-hover-background-color: $green;
$box-background-color: black;
$portfolio: $red;
$box-color: white;
$box-radius: 1px;
$table-cell-border: 1px solid;
$table-border-color: white;
$table-color: black;
$table-heading-color: white;
$table-background-color: transparent;
$page-header: 'Oswald', sans-serif;
$s-static: 'Oswald', sans-serif;
$home-title: "Arial", sans-serif;
$card-background-color: black;
$button-hover-color: $white;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
